<!DOCTYPE html>
<html>
    <head>
<title>Rate</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script>
    function enviar(idImg) {
        pks = [];
        pks[1] = {{pk1}};
        pks[2] = {{pk2}};
        document.getElementById("valor").value = pks[idImg];
        document.getElementById("formulario").submit();
    }
</script>
    </head>
<body>
    <form id="formulario" action="." method="POST">
        {%csrf_token%}
        <input id="valor" type="hidden" name="pk" value =""/>
    </form>
<div class="w3-container w3-teal">
<h1>Rate</h1>
</div>

<div class="w3-row-padding w3-margin-top">

<div class="w3-half">
<div class="w3-card-2">
    <a><img src="{{img1}}" style="width:100%" onclick="enviar(1)"></a>
<div class="w3-container">
<h4>First Option</h4>
</div>
</div>
</div>

<div class="w3-half">
<div class="w3-card-2">
    <a><img src="{{img2}}" style="width:100%" onclick="enviar(2)"></a>
<div class="w3-container">
<h4>Second Option</h4>
</div>
</div>
</div>


</div>




</body>
</html>