<!DOCTYPE html>
<!-- Utilizamos o W3.CSS Template como base. Disponivel em https://www.w3schools.com/w3css/tryw3css_examples_login.htm-->
<html>
<title>Sign Up</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<header class="w3-container w3-teal">
  <h1>Sign Up</h1>
</header>

<div class="w3-container w3-half w3-margin-top">

<form class="w3-container w3-card-4" action="." method="post">
{% csrf_token %}
<p>
<input id="name" class="w3-input" type="text" name="name" style="width:90%" required>
<label for="name" >Name</label></p>
<p>
<input id="username" class="w3-input" type="text" name="username" style="width:90%" required>
<label for="username" >Username</label></p>
<p>
<input id="password" class="w3-input" type="password" name="password" style="width:90%" required>
<label>Password</label></p>

<p>
<input id="age" class="w3-input" type="number" name="age" style="width:90%" required>
<label>age</label></p>

<p>
<input id="email_account" name="email_account" class="w3-input" type="text" style="width:90%" required>
<label>email account</label></p>

<p>
<input id="country" name="country" class="w3-input" type="text" style="width:90%" required>
<label>country</label></p>

<p>
<input id="home_state_address" name="home_state_address" class="w3-input" type="text" style="width:90%" required>
<label>home state adress</label></p>

<p>
<input id="religion" name="religion" class="w3-input" type="text" style="width:90%" required>
<label>religion</label></p>

<p>
<input name="civil_status" class="w3-radio" type="radio" value="single" checked>
<label>Single</label></p>

<p>
<input  name="civil_status" class="w3-radio" type="radio" value="married" >
<label>Married</label></p>

<p>
<input id="profession" name="profession" class="w3-input" type="text" style="width:90%" required>
<label>profession</label></p>

<p>
<input class="w3-radio" type="radio" name="gender" value="male" checked>
<label>Male</label></p>

<p>
<input class="w3-radio" type="radio" name="gender" value="female">
<label>Female</label></p>

<p>
<input class="w3-radio" type="radio" name="gender" value="other" >
<label>Other </label></p>

<p>
<input id="milk" class="w3-check" type="checkbox" checked="checked">
<label>Stay logged in</label></p>

<p>
<button class="w3-button w3-section w3-teal w3-ripple"> Sign Up </button></p>

</form>

</div>

</body>
</html> 
